<header>
  <div class="navbar bg-info shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 20px; color: white">
        <h3> Segunda </h3>
      </i> &nbsp; &nbsp;

      <button class="btn btn-info border border-light"routerLink="login">
        <div style="font-size: 20px" *ngIf="!user; else elseBlock">Login</div>
      </button>
      <ng-template #elseBlock>
        <div (click)="logout()">Logout</div>
      </ng-template>
    </div>
    <button class="btn btn-info border border-light" routerLink="cart">
      <i style="font-size: 20px">My Cart </i>
      <div style="font-size: 10px" class="badge bg-primary"> {{totalItem}}</div>
    </button>
  </div>
</header>
