<header>
  <div class="navbar bg-info shadow-sm">
    <div class="navbar-brand align-item-center d-flex" routerLink="products">
      <i style="font-size: 20px; color: white">
        <strong> Segunda </strong>
      </i>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="searchValue" (keyup)="search($event)" placeholder="search product"
             class="form-control" style="width: 600px; height: 30px">
    </div>

    <div>
      <button class="btn btn-outline-light" routerLink="wishlist">
        Wish List
      </button>&nbsp;
      <button class="btn btn-outline-light" routerLink="login" *ngIf="!user; else elseBlock">
        Login
      </button>
      <ng-template #elseBlock>
        <button class="btn btn-outline-light" (click)="logout()">Logout</button>
      </ng-template>
      <button class="ml-2 btn btn-outline-light" routerLink="cart">
        <span>My Cart </span>
        <span class="badge bg-primary"> {{totalItem}}</span>
      </button>
    </div>
  </div>
</header>
