<ng-container>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="card" style="margin: 75px; padding: 75px;">
      <h2 class="card-title"> Login </h2>
      <mat-label> Email</mat-label>
      <input ngModel name="email" #email="ngModel" required email class="row justify-content-md-center col col-lg-3"/> &nbsp; &nbsp;

      <span class="error" *ngIf="!email.valid && email.touched && email.hasError('required')" style="color: red">
        Email is required
      </span>

      <mat-label> Password</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        ngModel
        name="password"
        #password="ngModel"
        class="row justify-content-md-center col col-lg-3"
      />

      <button class="btn btn-info border border-light row justify-content-md-center col col-lg-3 mt-4"> Login</button>
    </div>
  </form>
</ng-container>
