

<div class="p-20 bg-base">

  <ng-container class="form-control">
      <h1> Hello there, we are Segunda!</h1>

    <div class="grid sm:grid-cols-2 place-items-center row-start-7 m-10 gap-9">
        At Segunda,we believe in a sustainable fashion future.
        Thrifting is about more than just finding amazing deals on your favorite brands.
        It’s about shopping with intention, rejecting throwaway fashion culture, and standing for sustainability.
        The clothes we wear have the power to create change.

        Thrifting Can Help Solve the Fashion Waste Crisis
        Our love for constant newness has come at too high a price for our planet.
        Shopping secondhand reduces the cost of fashion by giving new life to used clothes.
        Resale moves us one step closer to a circular fashion future.
    </div>
  </ng-container>

    <div class="grid sm:grid-cols-3 place-items-center m-10 gap-9">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 place-items-start" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd" />
      </svg>
      <div class="grid sm:grid-cols-1 m-5 gap-9">
        New clothing production is hurting the planet.
        One new garment takes 77 gallons of water and creates 17 lbs of CO2e. 1
        Over 100B garments are produced each year, which is 2X more than 15 years ago. 2
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
      </svg>
      <div class="grid sm:grid-cols-1 m-5 gap-9 ">
        Perfectly good clothing is being discarded.
        1 in 2 people throw their clothes straight in the trash. 3
        73% of apparel is sent to landfill or incinerated, 95% of which could be reused or recycled. 2
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
      <div class="grid sm:grid-cols-1 m-5 gap-9">
        Extending the life of clothes fights fashion waste.
        Shopping secondhand displaces the need for new clothing production and diverts items from landfills. 1
        Buying one used item reduces its carbon, waste, and water footprints by 82%. 1
      </div>
    </div>

  </div>


<div class="w-full shadow stats bg-base-100">
  <div class="stat">
    <div class="stat-figure text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
      </svg>
    </div>
    <div class="stat-title">Unique Items</div>
    <div class="stat-value text-primary">100K</div>
    <div class="stat-desc"> can be processed every day </div>
  </div>
  <div class="stat">
    <div class="stat-figure text-info">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
    </div>
    <div class="stat-title"> Garments </div>
    <div class="stat-value text-info">2.6M</div>
    <div class="stat-desc">processed so far</div>
  </div>
  <div class="stat">
    <div class="stat-value">16%</div>
    <div class="stat-title">of CO2e emissions is reduced</div>
  </div>
</div>
