<div class="grid grid-cols-4 m-4 gap-4">

  <div *ngIf="loading">
    <button class="btn btn-lg btn-square loading"></button>
  </div>

  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let item of productList | filter:searchValue">
      <div class="card text-center shadow p-4 bg-base">
        <img src="{{item.image}}" class="rounded-xl max-h-40 w-auto m-auto">
        <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <p class="h-full"> {{item.description}}</p>
          <p><strong> Price: </strong> {{item.price | currency}}</p>
          <div class="justify-center card-actions">
            <button (click)=addToCart(item) class="btn btn-active" role="button" aria-pressed="true">Add to cart</button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
