<div class="grid grid-cols-4 m-4 gap-4">

  <div *ngIf="loading">
    <button class="btn btn-lg btn-square loading"></button>
  </div>

  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let item of products$ | async">
      <div class="card text-center shadow p-4 bg-base">
        <div class="flex-none">
          <button class="btn btn-square btn-ghost" routerLink="wishlist" (click)="addToWishlist(item)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
            </svg>
          </button>
        </div>
        <img src="{{item.image}}" class="rounded-xl max-h-40 w-auto m-auto">
        <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <p class="h-full"> {{item.description}}</p>
          <p><strong> Price: </strong> {{item.price | currency}}</p>
          <div class="justify-center card-actions">
            <button (click)=addToCart(item) class="btn btn-active" role="button" aria-pressed="true">Add to cart</button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
