<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList | filter:searchValue">
      <div class="card col-md-3" style="margin: 20px; padding: 20px">
        <img src="{{item.image}}" alt="" style="width: 200px; height: 200px; margin-bottom: 15px">
        <h5
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
        <p
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;"> {{item.description}}</p>
        <p><strong>Price: </strong> ${{item.price}}</p>
        <button (click)=addToCart(item) class="btn btn-primary"> Add to cart</button>
      </div>
    </ng-container>

  </div>
</div>
